{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
<div id="content">
{% block content %}
{% endblock %}
</div>
<div id="sidebar">
<h2>My Travel blog</h2>
<p>This is my blog about my recent visits to different parts of the United States. I desire to visit as many places as possible during my stay here.</p>
    <img style="height: 350px; width: 325px; padding-left: 50px" src="{% static "css/chic.jpg" %}">
    <p>A glimpse of the Michigan lake,Chicago in the background</p>
</div>
</body>
</html>